/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.history
webpack.mix.js
resources/js/components/TestPage.js
public/js/app.js
resources/js/components/TestResetPassword.js

public/js/app.js
