
.main_container_frgt_pass{
    background: radial-gradient(closest-side, #6d6d6d, #2e2e2e);
    min-height: 85vh;
    text-align: center;
    justify-content:center;
}
.form-wrapper{
    margin:auto;
    text-align:left;
}
.fg-h1{
    font-size: 45px;
}
.withColor,
.fg-h1,
.fg-form-label,
.fg-hr{
    color:#fff;
}
@media screen and (min-width:568px){
    .main_container_frgt_pass{
        min-height: 85vh;
        background: radial-gradient(closest-side, #6d6d6d, #2e2e2e);
        background-image: url('./forgetPasswordImage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        font-size:100%;
    }
    .withColor,.fg-h1,.fg-form-label{
        color: #000;
        text-shadow:none;
    }

    .fg-hr{
        display: none;
    }
}
